.button-spacing {
    margin-right: 10px;
  }
  .table-container {
    overflow-x: auto;
  }
  
  .table-container mat-table {
    min-width: 600px;
    margin-bottom: 1rem;
  }
  
  .paginator-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    min-width: 600px;
  } 