<div class="table-container">
<mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-custom">
    
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.field">
      <mat-header-cell *matHeaderCellDef>{{ column.header }}</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row[column.field] }}</mat-cell>
    </ng-container>
  
    <ng-container *ngIf="actions" matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ng-container *ngFor="let action of actions">
          <button mat-icon-button [color]="action.color || 'primary'" (click)="onAction(action.callback, row)">
            <mat-icon>{{ action.icon }}</mat-icon>
          </button>
        </ng-container>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>